header {
  .tituloh1 {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 5rem;
    text-align: center;
  }
}

.divplanner {
  height: 100%;
  display: grid;

  grid-template-areas:
    "ingresotarea listadotarea realizado"
    "botonagregartarea botonfinalizartarea botonaeliminartarea";

  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto 20%;
  gap: 5px;

  /* COLUMNA: INGRESAR TAREA*/
  .ingresotarea {
    grid-area: ingresotarea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 1rem;
    margin: 10px;

    h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .labeltitulo {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .ingresetitulo {
      width: 80%;
      height: 0.5rem;
      border: none;
      resize: none;
    }

    .labelresumentarea {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .ingresartarea {
      width: 80%;
      height: 15rem;
      margin-bottom: 4px;
      resize: none;
      border: none;
    }
  }

  /* COLUMNA LISTA POR HACER */
  .listadotarea {
    grid-area: listadotarea;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    ul li {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /*  COLUMNA: REALIZADO  */
  .realizado {
    grid-area: realizado;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    h2 {
      text-align: center;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  /* BOTONES */
  .botonagregartarea {
    grid-area: botonagregartarea;
  }

  .botonfinalizartarea {
    grid-area: botonfinalizartarea;
    background-color: #ff6666 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #ff4d4d;
    }
  }
}
